# BEWARE : No empty lines are allowed!
# This section _documents_ defaults in effect
# nosymlink
# novhost
# nothrottles
# charset=iso-8859-1
host=127.0.0.1
port=8002
user=thttpd
logfile=/var/log/thttpd.log
pidfile=/var/run/thttpd.pid
dir=/var/www/thttpd
cgipat=**.cgi|**.pl